.accordian {
   
    border: 1px solid red;
    max-width: 400px;
    width: 90%;
    padding: 1.25rem;
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
    transition: all 2s ease-in;
}

.titleCon{
    height: 30px;
    background-color: bisque;
    padding: 0rem 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg{
    position: absolute;
    z-index: -10;
    transform: translateY(-50px);
    transition: all 1s ease-in;
    /* background-color: rgb(243, 224, 202); */
}

.activeAccordian{
   height: 100px;
}

.activeMsg {
    transform: translateY(0);
   position: sticky;
   /* z-index: -10; */
}