body{
  padding-left: 2rem;
}

.stdCardCon {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}



@media screen and (max-width:600px) {
  body{
    padding-left: 0;
  }

  .stdCardCon {
    justify-content: center;
  }
}